.picture-box {
  padding: 0.5em;
  background: rgb(86, 89, 93);
  border-radius: 5px;
}

#picture img {
  width: 100%;
  height: auto;
}

.info-note {
  font-style: italic;
}

.info-note::before {
  content: "Note: ";
  font-weight: 600;
}
